# Prerequisites
.DS_Store
.Trashes
*.swp
*.lock
*~.nib
DerivedData/
build/
Build/
Debug/
Release/

# XCode Files
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
xcuserdata/
xcuserdata/**/xcschemes/*
*.xccheckout

Pods/
Podfile.lock

*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

